:root {
  --light-blue: #A0B0C0;
  --blue: #6D7D8D;
  --off-white: #E9E6C6;
  --white: #F6F2EA;
  --hover-img: '';
  --block-img: url('./assets/block.png');
  --start-img: url('./assets/start-point.png');
  --end-img: url('./assets/end-point.png');
  --empty-img: white;
}

body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
}

header {
  align-items: center;

  padding-top: 0.5rem;
  padding-left: 1rem;

  
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  gap: 20px;
}

#dropdown-algo {
  background-color: var(--blue);
  color: var(--white);
  border: 0;
}

#Info {
  background-color: var(--white);
  width: 100%;
  height: 100px;
}

#Board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Row {
  display: flex;
}

.Tile {
  width: 30px;
  height: 30px;
  border: 0.5px solid var(--light-blue);
  background: var(--empty-img);
  transition: all .2s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
}

.Tile:hover {
  background-image: var(--hover-img);
  cursor: pointer;
  transform: scale(1.3);
}

.block {
  border: 0;
  background-image: var(--block-img);
}

.block:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.start {
  background-image: var(--start-img);
}

.start:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.end {
  background-image: var(--end-img);
}

.end:hover {
  cursor: pointer;
  transform: scale(1.3);
}